<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="C:/Program Files/JetBrains/repository/mysql/mysql-connector-java/8.0.25/mysql-connector-java-8.0.25.jar" />
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.105.162.109/FreeTalk?serverTimezone=UTC"
                        userId="root"
                        password="Tbl2425209089yyds"
        >
            <property name="useInformationSchema" value="true"/>
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.ctgu.j604.springbootchat.model" targetProject="src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.ctgu.j604.springbootchat.mapper"  targetProject="src\main\java">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.ctgu.j604.springbootchat.mapper"  targetProject="src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


<!--        <table tableName="linkman_list" domainObjectName="LinkMan"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="t_user" domainObjectName="TUser"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="friend_list_info" domainObjectName="FriendListInfo"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="unread_message" domainObjectName="UnreadMessage"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="msg_history" domainObjectName="MessageHistory"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="msg_single" domainObjectName="MessageOneToOne"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
<!--        <table tableName="group_and_user" domainObjectName="GroupAndUser"-->
<!--               enableCountByExample="true"-->
<!--               enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="true"-->
<!--        />-->
        <table tableName="group_and_member_comment" domainObjectName="GroupAndMemberComment"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true"
        />
    </context>
</generatorConfiguration>