<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/SearchFriends.css"/>
	<link rel="stylesheet" type="text/css" href="css/heartChat.css"/>
	<link rel="stylesheet" href="css/modifyInfoPage.css" type="text/css">
	<link rel="icon" href="img/chat-icon.png" type="image/x-icon">

	<title>知聊，畅聊心天地</title>
	<style>
		@font-face {
			font-family: 'icomoon';
			src:  url('/css/fonts/icomoon.eot?czbnho');
			src:  url('/css/fonts/icomoon.eot?czbnho#iefix') format('embedded-opentype'),
			url('/css/fonts/icomoon.ttf?czbnho') format('truetype'),
			url('/css/fonts/icomoon.woff?czbnho') format('woff'),
			url('/css/fonts/icomoon.svg?czbnho#icomoon') format('svg');
			font-weight: normal;
			font-style: normal;
			font-display: block;
		}
	</style>
</head>
<body style="overflow: hidden">
	<div class="window">
		<div class="home-part">
			<div id="chatmsg" class="home-part-navi"></div>
			<div class="home-part-navi"></div>
			<div id="applymsg" class="home-part-navi"></div>
			<div class="home-part-navi" id="add-btn" tabindex="10">
				<div id="add-list">
					<div class="add-list-item" id="add-friend-btn">+添加好友</div>
					<div class="add-list-item" id="group-create-btn">+发起群聊</div>
					<a href="#"><div class="add-list-item">+加入群聊</div></a>
				</div>
			</div>
			<div id="setting-icon"></div>

			<div id="modify-part">
				<div><img id="my-chat-head-big" th:src="@{'/img/user-icon/'+*{curUser.getUserNum()}+'.jpg'}"></div>
				<div id="modify-icon-btn">上传头像 <span></span></div>
				<form action="icon/upload" enctype="multipart/form-data" method="post">
					<input id="file-input" type="file" name="userIcon">

					<div><input id="icon-submit-btn" type="submit" value="提交"></div>
					<div class="info-item">昵称：<span th:text="*{curUser.nickName}"></span></div>
					<div class="info-item">账号：<span th:text="*{curUser.userNum}"></span></div>
					<div class="info-item">电话号码：<span th:text="*{curUser.phoneNum}"></span></div>
					<div class="info-item">邮箱：<span th:text="*{curUser.email}"></span></div>
					<div class="info-item">性别：<span th:text="*{curUser.sex}"></span></div>
					<div class="info-item">年龄：<span th:text="*{curUser.age}"></span></div>
					<div class="info-item">创建时间：<span th:text="*{curUser.createdTime}"></span></div>

				</form>
			</div>
		</div>


		<div class="link-list-part">
			<div class="list-header">
				<div id="my-head-box">
					<img id="my-chat-head" th:src="@{'/img/user-icon/'+*{curUser.getUserNum()}+'.jpg'}">
					<p id="my-nickname" th:text="*{curUser.nickName}">这里显示昵称</p>
					<p id="my-userNum" th:text="*{curUser.userNum}">这里显示账号</p>
				</div>
				<input id="link-search" type="text" placeholder="输入好友或群聊名称">
			</div>
			<div id="chattingmsg" class="links-box beautiful-scrollbar">
				<div th:each="firend:${friendListInfoList}" th:data-Num="*{firend.userNum}" th:data-userNum="*{firend.userNum}" class="friend-items" th:title="*{firend.commentForFriend+'('+firend.nickName+')'}">
					<img draggable="false" th:src="@{'/img/user-icon/'+*{firend.userNum}+'.jpg'}">
					<div class="link-info">
						<p class="friend-comment-p" th:text="*{firend.commentForFriend}">这里显示好友备注</p>
						<p class="nickname-p" th:text="*{firend.nickName}">这里显示好友昵称</p>
					</div>
					<div class="message-count"></div>
				</div>
				<div th:each="group:${groupAndUserList}" th:data-Num="*{group.groupNum}" th:data-groupNum="*{group.groupNum}" class="group-items" th:title="*{group.groupName+'('+group.groupNum+')'}">
					<img draggable="false" th:src="@{'/img/user-icon/'+*{group.groupNum}+'.jpg'}">
					<div class="link-info">
						<p class="friend-comment-p" th:text="*{group.groupName}">这里显示群名称</p>
						<p class="nickname-p" th:text="*{group.groupNum}">这里显示群号码</p>
					</div>
					<div class="message-count"></div>
				</div>
			</div>
			<div id="systeminfo" class="links-box beautiful-scrollbar" style="display: none">

			</div>

		</div>

		<div class="message-part">

			<div class="message-box-header">
				<p id="chat-box-title"></p>
				<p id="current-link-status"></p>
			</div>
			<div class="message-item-box beautiful-scrollbar">
<!--				这里面显示消息-->
			</div>
			<div class="message-input-box">
				<textarea title="换行请按Ctrl+Enter" autofocus id="pre-send-txt"></textarea>
				<div id="btn-box">
					<button id="close-btn" class="msgbtn">关闭</button>
					<button id="send-btn" title="按下Enter键" class="msgbtn">发送</button>
				</div>
			</div>
		</div>
	</div>

	<div id="friend-add-window">
		<div id="window-head">
			添加好友

			<div id="window-close-btn">&times;</div>
		</div>
		<div id="window-body">
			<div class="title">
				<div class="title1">
					<h1 class="headline1">查找好友/群组</h1>
				</div>
				<div class="title2">
					<a href="SearchFriend.html"><h1 class="headline2">找人</h1></a>
					<div></div>
				</div>
				<div class="title3">
					<a href="SearchGroup.html"><h1 class="headline3">找群</h1></a>
					<div></div>
				</div>
				<div class="title4"></div>
				<div class="title5">
					<a><h1 class="headline4">返回主页</h1></a>
					<div></div>
				</div>
			</div>
			<div class="total">
				<form id="Search" method="post">
					<div class="search">
						<input type="text" name="userNum" placeholder="请输入QQ号码/昵称" class="searchfriends">
					</div>
					<div class="btn">
						<input id="submit" type="button" value="查找" class="btnSearch">
						<div class="remindinfo"></div>
					</div>
					<div class="Select">
						<select class="select1" name="sex">
							<option selected hidden disabled>性别</option>
							<option value="">不限</option>
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
						<select class="select2" name="age">
							<option selected hidden disabled>年龄</option>
							<option value="">不限</option>
							<option value="1">16-20岁</option>
							<option value="2">21-25岁</option>
						</select>
					</div>
				</form>
				<div style="width: 40%;height: 60px;float: left;">
					<label id="label1">验证消息</label>
					<input id="checkmsg" type="text">
				</div>
				<div class="table1">
					<table class="user">
						<thead>
						<tr>
							<td>QQ号码</td>
							<td>昵称</td>
							<td>添加好友</td>
						</tr>
						</thead>
						<tbody class="user_table">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.6.0.js"></script>
	<script src="/js/chat.js"></script>
	<script src="/js/modifyPage.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!--	<script>-->
<!--		$(function(){-->
<!--			let validateUrl = "http://" + window.location.host.toString() + "/search";-->
<!--			let AddUrl = "http://" + window.location.host.toString() + "/add";-->
<!--			$("#submit").click(function(){-->
<!--				$.ajax({-->
<!--					type: "POST",-->
<!--					url: "/search",-->
<!--					data: $("#Search").serialize(),-->
<!--					dataType: "json",-->
<!--					success: function(data){-->
<!--						$(".user_table").html("");-->
<!--						$(".remindinfo").html("");-->
<!--						if(data.length === 0){-->
<!--							$(".remindinfo").html("不存在此用户");-->
<!--						}-->
<!--						else{-->
<!--							for (let i=0; i<data.length; i++) {-->
<!--								$(".user_table").append("<tr>" + "<td>"+data[i].userNum +"</td>"+"<td>"+data[i].nickName+"</td>"+ "<td>"+"<input id='addfriend' data-num='"+data[i].userNum+ "' value='+ 好友' type='button'>"+"</td>"+"</tr>");-->
<!--							}-->
<!--							$("#addfriend").on("click",function(){-->
<!--								let preMsg = $("#checkmsg").val();-->
<!--								$("checkmsg").val('');-->
<!--								chatType = 5;-->
<!--								let json = {"msgTypeCode":chatType,"toUserNum":this.getAttribute("data-num"),"message":preMsg,"sendTime":new Date().getTime()};-->
<!--								ws.send(JSON.stringify(json));-->
<!--							})-->
<!--						}-->
<!--					}-->
<!--				})-->
<!--			})-->
<!--		})-->
<!--	</script>-->
</body>
</html>